
.arrow{
    animation-name:down;
    opacity: 0;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.bi-arrow-down{   
    margin-left: 20px;
    color: #7cca92;

}
.arrow p{
    color: #7cca92;
}

@keyframes down {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}